@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 214 32% 91%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 214.3 31.8% 91.4%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;

    --section-bg: 214.3 31.8% 91.4%;
    --section-bg-light: 210 20% 98%;
    --text-muted-light: 217.9 10.6% 64.9%;
    --text-muted-dark: 216.9 19.1% 26.7%;
    --accent-cyan: 168.4 83.8% 78.2%;
    --accent-cyan-light: 167.2 85.5% 89.2%;
    --accent-green: 142.1 70.6% 45.3%;
    --accent-green-light: 142.1 71.3% 53.5%;
    --accent-orange: 24.6 95% 53.1%;
    --accent-purple: 270.7 91% 65.1%;
  }

  [data-theme='dark'] {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 8%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 8%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 70%;

    --accent: 217 33% 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 20%;
    --input: 217 33% 17%;
    --ring: 212 27% 84%;

    --success: 142 76% 36%;
    --warning: 38 92% 50%;
    --error: 0 72% 51%;

    --section-bg: 217 33% 12%;
    --section-bg-light: 217 33% 10%;
    --text-muted-light: 215 20% 65%;
    --text-muted-dark: 215 20% 85%;
    --accent-cyan: 168.4 83.8% 70%;
    --accent-cyan-light: 167.2 85.5% 80%;
    --accent-green: 142.1 70.6% 55%;
    --accent-green-light: 142.1 70.6% 60%;
    --accent-orange: 24.6 95% 60%;
    --accent-purple: 270.7 91% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

.custom-hero-gradient {
  background: linear-gradient(
    100deg,
    hsla(214, 64%, 96%, 1) 13%,
    hsla(214, 30%, 91%, 1) 22%,
    hsla(215, 32%, 93%, 1) 49%,
    hsla(216, 100%, 99%, 1) 69%
  );
}

[data-theme='dark'] .custom-hero-gradient {
  background: linear-gradient(
    100deg,
    hsla(222, 47%, 15%, 1) 13%,
    hsla(222, 47%, 11%, 1) 22%,
    hsla(222, 47%, 14%, 1) 49%,
    hsla(222, 47%, 9%, 1) 69%
  );
}
